body{
    height: 100%;
    margin: 0;
}

.title-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    color:bisque;
    font-size: 2.5rem;
}
.btn{
    background-color: bisque;
    margin: 0%;
    height:5vh;
    width: 20vh;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.page{
    height: 100vh;
    background-color: darkseagreen;
}

